name: Build cxxopts

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: setup
      run: mkdir build
    - name: cmake
      run: cd build; cmake ..
    - name: Build
      run: cd build; make -j$(nproc)
    - name: test
      run: cd build; ctest
